/* Brown Scheme */
.site-footer {
  color: #8e8686; }

/* Default Color Scheme */
body {
  background: linear-gradient(to bottom, #de9a4e 0%, #a76c2a 100%);
  background-color: #de9a4e; }

a {
  color: #000000; }

a:hover, a:focus {
  color: #de9a4e; }

div.navigation span.current {
  color: #de9a4e; }

.navbar-wpz > .current-menu-item > a, .navbar-wpz > .current_page_item > a {
  color: #de9a4e; }

.navbar-nav .current-menu-item > a,
.navbar-nav .current_page_item > a,
.navbar-nav .current-menu-parent > a {
  color: #de9a4e; }

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  background-color: #de9a4e;
  color: #fff; }
  button:hover,
  input[type="button"]:hover,
  input[type="reset"]:hover,
  input[type="submit"]:hover {
    background: #000;
    color: #fff; }

.infinite-scroll #infinite-handle span {
  background-color: #de9a4e; }
  .infinite-scroll #infinite-handle span:hover {
    background: #000; }

.slide-style-1 .slides .slide_button a {
  color: #000;
  background: #fff; }
  .slide-style-1 .slides .slide_button a:hover, .slide-style-1 .slides .slide_button a:active {
    color: #fff;
    background: #de9a4e; }

/* Slide Style 2 */
.slide-style-2 .slides .slide_button a {
  color: #000;
  background: #fff; }
  .slide-style-2 .slides .slide_button a:hover, .slide-style-2 .slides .slide_button a:active {
    color: #fff;
    background: #de9a4e; }

/* Slide Style 3 */
.slide-style-3 .slides .slide_button a {
  color: #fff;
  background: #000; }
  .slide-style-3 .slides .slide_button a:hover, .slide-style-3 .slides .slide_button a:active {
    color: #fff;
    background: #de9a4e; }

.cat-links a:hover {
  color: #de9a4e; }

.entry-content a {
  color: #de9a4e; }

.tag_list a:hover {
  color: #de9a4e;
  border-color: #de9a4e; }

.author_links a:hover, .author_links a:active {
  color: #de9a4e; }

.author_links a:hover:before {
  color: #de9a4e; }

.zoom-twitter-widget a {
  color: #de9a4e; }

.zoom-twitter-widget a:hover {
  color: #de9a4e; }

.zoom-twitter-widget time:hover {
  color: #de9a4e; }

.wpzoom-featured-cat h3.title a:hover {
  color: #de9a4e; }

.wpzoom-calltoaction .cta-btn {
  background-color: #de9a4e; }

.site-footer {
  background: #3B3131; }
  .site-footer button {
    background: #de9a4e; }
  .site-footer input[type=button], .site-footer input[type=reset], .site-footer input[type=submit] {
    background: #de9a4e; }
  .site-footer button:hover {
    background: #F1F1F1; }
  .site-footer input[type=button]:hover, .site-footer input[type=reset]:hover, .site-footer input[type=submit]:hover {
    background: #F1F1F1; }

.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button {
  background: #de9a4e; }

.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt {
  background: #de9a4e; }

.woocommerce ul.products li.product h3:hover {
  color: #de9a4e; }

.woocommerce #respond input#submit:hover, .woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce input.button:hover {
  background: #000 !important; }

.archive .inner-wrap .listing-widget-details h3.listing-title a:hover, .wp-listings-shortcode .inner-wrap .listing-widget-details h3.listing-title a:hover {
  color: #de9a4e; }

.listing-navigation a:hover {
  color: #de9a4e !important; }

.portfolio-archive-taxonomies li.current-cat a {
  color: #de9a4e; }

.wpzoom-calltoaction .cta-btn {
  background-color: #de9a4e; }
  .wpzoom-calltoaction .cta-btn:hover, .wpzoom-calltoaction .cta-btn:active {
    background-color: #000; }

.single #jp-relatedposts .jp-relatedposts-items-visual h4.jp-relatedposts-post-title a:hover {
  color: #de9a4e; }
